In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
delivery = pd.read_csv('deliveries.csv')
match = pd.read_csv('matches.csv')

In [4]:
match.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2024,Dallas,6/1/2024,Canada,United States of America,United States of America,field,normal,0,United States of America,NaN,7.0,Aaron Jones,Grand Prairie Stadium,AY Dandekar,NJ Llong,NaN
1,2,2024,Providence,6/2/2024,Papua New Guinea,West Indies,West Indies,field,normal,0,West Indies,NaN,5.0,RL Chase,Providence Stadium,A Nand Kishore,S Ravi,NaN
2,3,2024,Bridgetown,6/2/2024,Oman,Namibia,Namibia,field,normal,0,NaN,NaN,NaN,D Wiese,Kensington Oval,Nitin Menon,CK Nandan,NaN
3,4,2024,New York,6/3/2024,Sri Lanka,South Africa,Sri Lanka,bat,normal,0,South Africa,NaN,6.0,A Nortje,Nassau County International Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2024,Providence,6/3/2024,Afghanistan,Uganda,Uganda,field,normal,0,Afghanistan,125.0,NaN,Fazalhaq Farooqi,Providence Stadium,NaN,NaN,NaN

In [5]:
match.shape

(52, 18)

In [6]:
delivery.head()

,match_id,season,start_date,venue,inning,ball,batting_team,bowling_team,batsman,non_striker,...,noball_runs,bye_runs,legbye_runs,penalty_runs,dismissal_kind,player_dismissed,other_wicket_type,other_player_dismissed,over,total_runs
0,2,2024,6/2/2024,"Providence Stadium, Guyana",1,1,Papua New Guinea,West Indies,TP Ura,A Vala,...,0,0,0,0,NaN,NaN,NaN,NaN,0,0
1,2,2024,6/2/2024,"Providence Stadium, Guyana",1,2,Papua New Guinea,West Indies,TP Ura,A Vala,...,0,0,0,0,NaN,NaN,NaN,NaN,0,1
2,2,2024,6/2/2024,"Providence Stadium, Guyana",1,3,Papua New Guinea,West Indies,A Vala,TP Ura,...,0,0,0,0,NaN,NaN,NaN,NaN,0,0
3,2,2024,6/2/2024,"Providence Stadium, Guyana",1,4,Papua New Guinea,West Indies,A Vala,TP Ura,...,0,0,0,0,NaN,NaN,NaN,NaN,0,0
4,2,2024,6/2/2024,"Providence Stadium, Guyana",1,5,Papua New Guinea,West Indies,A Vala,TP Ura,...,0,0,0,0,NaN,NaN,NaN,NaN,0,0

In [7]:
total_score_df =delivery.groupby(['match_id','inning']).sum()['total_runs'].reset_index()

In [8]:
total_score_df = total_score_df[total_score_df['inning']==1]

In [9]:
match_df =match.merge(total_score_df[['match_id','total_runs']],left_on='id',right_on='match_id')

In [10]:
match_df['team1'].unique()

array(['Canada', 'Papua New Guinea', 'Oman', 'Sri Lanka', 'Afghanistan',
       'Scotland', 'Nepal', 'Ireland', 'Australia', 'Pakistan', 'Namibia',
       'Netherlands', 'West Indies', 'India', 'South Africa',
       'United States of America', 'Bangladesh', 'Uganda', 'England'],
      dtype=object)

In [11]:
teams =[
   'Canada', 'Papua New Guinea', 'Oman', 'Sri Lanka', 'Afghanistan',
       'Scotland', 'Nepal', 'Ireland', 'Australia', 'Pakistan', 'Namibia',
       'Netherlands', 'West Indies', 'India', 'South Africa',
       'United States of America', 'Bangladesh', 'England'
]

In [12]:
match_df['team1'].unique()

array(['Canada', 'Papua New Guinea', 'Oman', 'Sri Lanka', 'Afghanistan',
       'Scotland', 'Nepal', 'Ireland', 'Australia', 'Pakistan', 'Namibia',
       'Netherlands', 'West Indies', 'India', 'South Africa',
       'United States of America', 'Bangladesh', 'Uganda', 'England'],
      dtype=object)

In [13]:
match_df.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,2024,Dallas,6/1/2024,Canada,United States of America,United States of America,field,normal,0,United States of America,NaN,7.0,Aaron Jones,Grand Prairie Stadium,AY Dandekar,NJ Llong,NaN,1,194
1,2,2024,Providence,6/2/2024,Papua New Guinea,West Indies,West Indies,field,normal,0,West Indies,NaN,5.0,RL Chase,Providence Stadium,A Nand Kishore,S Ravi,NaN,2,136
2,3,2024,Bridgetown,6/2/2024,Oman,Namibia,Namibia,field,normal,0,NaN,NaN,NaN,D Wiese,Kensington Oval,Nitin Menon,CK Nandan,NaN,3,109
3,4,2024,New York,6/3/2024,Sri Lanka,South Africa,Sri Lanka,bat,normal,0,South Africa,NaN,6.0,A Nortje,Nassau County International Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,4,77
4,5,2024,Providence,6/3/2024,Afghanistan,Uganda,Uganda,field,normal,0,Afghanistan,125.0,NaN,Fazalhaq Farooqi,Providence Stadium,NaN,NaN,NaN,5,183

In [14]:
match_df = match_df[match_df['dl_applied']==0]

In [15]:
match_df = match_df[['match_id','city','winner','total_runs']]

In [16]:
delivery_df =match_df.merge(delivery,on='match_id')

In [17]:
delivery_df =delivery_df[delivery_df['inning']==2]

In [18]:
delivery_df.head()

,match_id,city,winner,total_runs_x,season,start_date,venue,inning,ball,batting_team,...,noball_runs,bye_runs,legbye_runs,penalty_runs,dismissal_kind,player_dismissed,other_wicket_type,other_player_dismissed,over,total_runs_y
122,1,Dallas,United States of America,194,2024,6/1/2024,"Grand Prairie Stadium, Dallas",2,1,United States of America,...,0,0,0,0,NaN,NaN,NaN,NaN,0,0
123,1,Dallas,United States of America,194,2024,6/1/2024,"Grand Prairie Stadium, Dallas",2,2,United States of America,...,0,0,0,0,lbw,SR Taylor,NaN,NaN,0,0
124,1,Dallas,United States of America,194,2024,6/1/2024,"Grand Prairie Stadium, Dallas",2,3,United States of America,...,0,0,0,0,NaN,NaN,NaN,NaN,0,0
125,1,Dallas,United States of America,194,2024,6/1/2024,"Grand Prairie Stadium, Dallas",2,4,United States of America,...,0,0,0,0,NaN,NaN,NaN,NaN,0,0
126,1,Dallas,United States of America,194,2024,6/1/2024,"Grand Prairie Stadium, Dallas",2,5,United States of America,...,0,0,0,0,NaN,NaN,NaN,NaN,0,0

In [19]:
delivery_df['current_score']=delivery_df.groupby('match_id')['total_runs_y'].cumsum()

In [20]:
delivery_df['runs_left'] = delivery_df['total_runs_x']-delivery_df['current_score']+1

In [21]:
delivery_df['balls_left']=126-(delivery_df['over']*6+delivery_df['ball'])

In [22]:
delivery_df.head()

,match_id,city,winner,total_runs_x,season,start_date,venue,inning,ball,batting_team,...,penalty_runs,dismissal_kind,player_dismissed,other_wicket_type,other_player_dismissed,over,total_runs_y,current_score,runs_left,balls_left
122,1,Dallas,United States of America,194,2024,6/1/2024,"Grand Prairie Stadium, Dallas",2,1,United States of America,...,0,NaN,NaN,NaN,NaN,0,0,0,195,125
123,1,Dallas,United States of America,194,2024,6/1/2024,"Grand Prairie Stadium, Dallas",2,2,United States of America,...,0,lbw,SR Taylor,NaN,NaN,0,0,0,195,124
124,1,Dallas,United States of America,194,2024,6/1/2024,"Grand Prairie Stadium, Dallas",2,3,United States of America,...,0,NaN,NaN,NaN,NaN,0,0,0,195,123
125,1,Dallas,United States of America,194,2024,6/1/2024,"Grand Prairie Stadium, Dallas",2,4,United States of America,...,0,NaN,NaN,NaN,NaN,0,0,0,195,122
126,1,Dallas,United States of America,194,2024,6/1/2024,"Grand Prairie Stadium, Dallas",2,5,United States of America,...,0,NaN,NaN,NaN,NaN,0,0,0,195,121

In [23]:
delivery_df['player_dismissed']=delivery_df['player_dismissed'].fillna(0)
delivery_df['player_dismissed']=delivery_df['player_dismissed'].apply(lambda x : x if x ==0  else 1)

In [24]:
wickets = delivery_df.groupby('match_id')['player_dismissed'].cumsum().values

In [25]:
delivery_df['wickets']=10- wickets

In [26]:
delivery_df.head()

,match_id,city,winner,total_runs_x,season,start_date,venue,inning,ball,batting_team,...,dismissal_kind,player_dismissed,other_wicket_type,other_player_dismissed,over,total_runs_y,current_score,runs_left,balls_left,wickets
122,1,Dallas,United States of America,194,2024,6/1/2024,"Grand Prairie Stadium, Dallas",2,1,United States of America,...,NaN,0,NaN,NaN,0,0,0,195,125,10
123,1,Dallas,United States of America,194,2024,6/1/2024,"Grand Prairie Stadium, Dallas",2,2,United States of America,...,lbw,1,NaN,NaN,0,0,0,195,124,9
124,1,Dallas,United States of America,194,2024,6/1/2024,"Grand Prairie Stadium, Dallas",2,3,United States of America,...,NaN,0,NaN,NaN,0,0,0,195,123,9
125,1,Dallas,United States of America,194,2024,6/1/2024,"Grand Prairie Stadium, Dallas",2,4,United States of America,...,NaN,0,NaN,NaN,0,0,0,195,122,9
126,1,Dallas,United States of America,194,2024,6/1/2024,"Grand Prairie Stadium, Dallas",2,5,United States of America,...,NaN,0,NaN,NaN,0,0,0,195,121,9

In [27]:
delivery_df['crr']=delivery_df.current_score*6/(120-delivery_df.balls_left)

In [28]:
delivery_df['rrr']=delivery_df.runs_left*6/delivery_df.balls_left

In [29]:
delivery_df = delivery_df.reset_index()

In [30]:
delivery_df.drop(columns='index',inplace=True)

In [31]:
def is_win(df):
    winner = []
    for item,row in df.iterrows():
        if row.winner == row.batting_team:
            winner.append(1)
        else:
            winner.append(0)

    return winner

In [32]:
delivery_df['winner']=is_win(delivery_df)

In [33]:
final_df =delivery_df[['match_id','batting_team','bowling_team','city','runs_left','balls_left','wickets','total_runs_x','crr','rrr','winner']]

In [34]:

final_df =final_df.sample(final_df.shape[0])

In [35]:
print(final_df.city.unique())
print(final_df.batting_team.unique())

['Dallas' 'Tarouba' 'North Sound' 'Bridgetown' 'Gros Islet' 'Kingstown'
 'New York' 'Providence' 'Lauderhill']
['Netherlands' 'South Africa' 'Bangladesh' 'New Zealand' 'Afghanistan'
 'Australia' 'Nepal' 'Ireland' 'Scotland' 'India' 'Uganda' 'Namibia'
 'United States of America' 'England' 'Oman' 'West Indies' 'Pakistan']

In [36]:
import random

# Mapping of ICC teams to their home cities
icc_cities_dict = {
    'South Africa': 'Johannesburg',
    'Afghanistan': 'Kabul',
    'Australia': 'Melbourne',
    'Netherlands': 'Amsterdam',
    'Pakistan': 'Lahore',
    'Scotland': 'Edinburgh',
    'West Indies': 'Kingston',
    'India': 'Mumbai',
    'United States of America': 'Lauderhill',
    'England': 'London',
    'Namibia': 'Windhoek',
    'New Zealand': 'Auckland',
    'Ireland': 'Dublin',
    'Uganda': 'Kampala',
    'Nepal': 'Kathmandu',
    'Bangladesh': 'Dhaka',
    'Oman': 'Muscat'
}

# Replace NaN values in 'city' with a placeholder (0)
final_df['city'] = final_df['city'].fillna(0)

# Function to fill missing city values based on batting or bowling team
def fill_icc_city(x):
    if x.city == 0:  # If city is missing
        team = random.choice([x.batting_team, x.bowling_team])  # Randomly select one team
        return icc_cities_dict.get(team, "Unknown")  # Get city from dictionary or return "Unknown"
    else:
        return x.city  # Keep existing city if available

# Apply function to update the city column
final_df['city'] = final_df.apply(fill_icc_city, axis=1)

In [37]:
final_df.dropna(inplace=True)
final_df =final_df[final_df.balls_left !=0]

In [38]:
from sklearn.model_selection import train_test_split
X = final_df.drop(columns=['winner','match_id'])
y = final_df['winner']
X_copy =final_df.drop(columns=['winner'])
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [39]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [40]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer


ohe = OneHotEncoder()
ohe.fit(X.iloc[:, :3])  
category = ohe.categories_  


trf = ColumnTransformer([
    ('trf', OneHotEncoder(categories=category, sparse_output=False, drop='first'), 
     ['batting_team', 'bowling_team', 'city'])
], remainder='passthrough')

In [41]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer


ohe = OneHotEncoder(sparse_output=False, drop='first')


ohe.fit_transform(X.iloc[:, :3])
category = ohe.categories_


trf = ColumnTransformer([
    ('trf', OneHotEncoder(categories=category, sparse_output=False, drop='first'), ['batting_team', 'bowling_team', 'city'])
], remainder='passthrough')

In [42]:
import numpy as np
import pandas as pd
import pickle
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier

# ✅ Sample Data - Replace with Your Actual Dataset
# X_train = pd.read_csv("your_data.csv")  # Load actual training data
# y_train = pd.read_csv("your_target.csv")  # Load actual target values

# ✅ Fix NaN and Infinity Issues
X_train.replace([np.inf, -np.inf], np.nan, inplace=True)  # Convert infinities to NaN
X_train.ffill(inplace=True)  # Forward fill to fill missing values
  # Fill NaN values

y_train.dropna(inplace=True)  # Remove NaN values in the target variable

# ✅ Identify Numeric and Categorical Columns
numeric_features = X_train.select_dtypes(include=['int64', 'float64']).columns.tolist()
categorical_features = X_train.select_dtypes(include=['object']).columns.tolist()

# ✅ Convert categorical columns to string (prevents errors)
X_train[categorical_features] = X_train[categorical_features].astype(str)

# ✅ Pipelines for Numeric and Categorical Data
numeric_transformer = Pipeline([
    ('imputer', SimpleImputer(strategy='mean')),  # Replace missing values with mean
    ('scaler', StandardScaler())  # Standardize numerical features
])

categorical_transformer = Pipeline([
    ('imputer', SimpleImputer(strategy='most_frequent')),  # Fill missing categorical values
    ('encoder', OneHotEncoder(handle_unknown='ignore'))  # One-hot encoding
])

# ✅ Combine Preprocessing
preprocessor = ColumnTransformer([
    ('num', numeric_transformer, numeric_features),
    ('cat', categorical_transformer, categorical_features)
])

# ✅ Define Model Pipeline
pipe = Pipeline([
    ('preprocessor', preprocessor),
    ('classifier', RandomForestClassifier(n_estimators=100, random_state=42, n_jobs=-1))
])

# ✅ Fit the Model
pipe.fit(X_train, y_train)

# ✅ Save the trained pipeline
with open("pipe.pkl", "wb") as f:
    pickle.dump(pipe, f)

print("✅ Model trained and saved successfully!")

✅ Model trained and saved successfully!

In [43]:
numeric_cols = X_test.select_dtypes(include=[np.number]).columns
X_test[numeric_cols] = X_test[numeric_cols].fillna(X_test[numeric_cols].mean())

# Replace infinite values with NaN, then fill with mean for numeric columns
X_test[numeric_cols] = X_test[numeric_cols].replace([np.inf, -np.inf], np.nan).fillna(X_test[numeric_cols].mean())

In [44]:
print("NaN count:", X_test.isna().sum().sum())

NaN count: 0

In [45]:
import numpy as np
import pandas as pd

# Check for NaN values using Pandas
print("NaN count:", X_test.isna().sum().sum())

# Check for Inf values (only in numeric columns)
numeric_X_test = X_test.select_dtypes(include=[np.number])  # Select only numeric columns
print("Inf count:", np.isinf(numeric_X_test).sum().sum())

NaN count: 0
Inf count: 10

In [46]:
import numpy as np
import pandas as pd

# Ensure X_test is a DataFrame
X_test = pd.DataFrame(X_test)  

# Check for NaN values (works for all data types)
print("NaN count:", X_test.isna().sum().sum())

# Select only numeric columns before checking for Inf values
numeric_X_test = X_test.select_dtypes(include=[np.number])

# Check for Inf values
print("Inf count:", np.isinf(numeric_X_test).sum().sum())

NaN count: 0
Inf count: 10

In [47]:
import pandas as pd
import pickle

# Load the required CSV files
deliveries_df = pd.read_csv('deliveries.csv')
matches_df = pd.read_csv('matches.csv')

# Check the first few rows of each DataFrame
print("Deliveries DataFrame:")
print(deliveries_df.head())

print("Matches DataFrame:")
print(matches_df.head())

# If final_df is a pickled file, load it (if applicable)
try:
    with open('final_df.pkl', 'rb') as file:
        final_df = pickle.load(file)
        print("\nFinal DataFrame loaded successfully.")
except FileNotFoundError:
    print("\nNo pickled final_df file found.")

# If a pickled model pipeline exists, load it
try:
    with open('pipe.pkl', 'rb') as file:
        pipeline = pickle.load(file)
        print("\nPipeline loaded successfully.")
except FileNotFoundError:
    print("\nNo pickled pipeline file found.")

# Define the match_progression function
def match_progression(matches_df, deliveries_df, match_id):
    # Check if match_id exists in the matches dataframe (column is 'id' in matches_df)
    if match_id not in matches_df['id'].values:
        print(f"Match ID {match_id} not found.")
        return None

    # Get the match details from matches_df
    match_details = matches_df[matches_df['id'] == match_id].iloc[0]
    batting_team = match_details['team1'] if match_details['inning'] == 1 else match_details['team2']
    
    # Filter the deliveries related to the match
    match_deliveries = deliveries_df[deliveries_df['match_id'] == match_id]

    # Process and calculate match progression stats (example logic)
    temp_df = match_deliveries[['batting_team', 'bowling_team', 'city', 'runs_left', 'balls_left', 'wickets', 'target', 'crr', 'rrr', 'total_runs_x']]

    # Check if temp_df has any data
    if temp_df.empty:
        print("Warning: temp_df is empty!")
        return None

    # Display the progression for the specified match
    print(f"Match Progression for Match ID: {match_id}")
    return temp_df, match_deliveries[['batting_team', 'bowling_team', 'runs_left', 'balls_left', 'wickets', 'target', 'crr', 'rrr']]

# Example usage of the match_progression function
match_id_to_check = 513  # Example match_id
result = match_progression(matches_df, deliveries_df, match_id_to_check)

# Check if result is not None before unpacking
if result is not None:
    result_df, result_deliveries = result
    print("\nMatch Progression Data:")
    print(result_df.head())
else:
    print("\nNo data to display. Match ID not found or no match progression data available.")

Deliveries DataFrame:
   match_id  season start_date                       venue  inning  ball  \
0         2    2024   6/2/2024  Providence Stadium, Guyana       1     1
1         2    2024   6/2/2024  Providence Stadium, Guyana       1     2
2         2    2024   6/2/2024  Providence Stadium, Guyana       1     3
3         2    2024   6/2/2024  Providence Stadium, Guyana       1     4
4         2    2024   6/2/2024  Providence Stadium, Guyana       1     5

       batting_team bowling_team batsman non_striker  ... noball_runs  \
0  Papua New Guinea  West Indies  TP Ura      A Vala  ...           0
1  Papua New Guinea  West Indies  TP Ura      A Vala  ...           0
2  Papua New Guinea  West Indies  A Vala      TP Ura  ...           0
3  Papua New Guinea  West Indies  A Vala      TP Ura  ...           0
4  Papua New Guinea  West Indies  A Vala      TP Ura  ...           0

   bye_runs  legbye_runs  penalty_runs  dismissal_kind  player_dismissed  \
0         0            0             0             NaN               NaN
1         0            0             0             NaN               NaN
2         0            0             0             NaN               NaN
3         0            0             0             NaN               NaN
4         0            0             0             NaN               NaN

   other_wicket_type  other_player_dismissed over total_runs
0                NaN                     NaN    0          0
1                NaN                     NaN    0          1
2                NaN                     NaN    0          0
3                NaN                     NaN    0          0
4                NaN                     NaN    0          0

[5 rows x 24 columns]
Matches DataFrame:
   id  Season        city      date             team1  \
0   1    2024      Dallas  6/1/2024            Canada
1   2    2024  Providence  6/2/2024  Papua New Guinea
2   3    2024  Bridgetown  6/2/2024              Oman
3   4    2024    New York  6/3/2024         Sri Lanka
4   5    2024  Providence  6/3/2024       Afghanistan

                      team2               toss_winner toss_decision  result  \
0  United States of America  United States of America         field  normal
1               West Indies               West Indies         field  normal
2                   Namibia                   Namibia         field  normal
3              South Africa                 Sri Lanka           bat  normal
4                    Uganda                    Uganda         field  normal

   dl_applied                    winner  win_by_runs  win_by_wickets  \
0           0  United States of America          NaN             7.0
1           0               West Indies          NaN             5.0
2           0                       NaN          NaN             NaN
3           0              South Africa          NaN             6.0
4           0               Afghanistan        125.0             NaN

    player_of_match                                        venue  \
0       Aaron Jones                        Grand Prairie Stadium
1          RL Chase                           Providence Stadium
2           D Wiese                              Kensington Oval
3          A Nortje  Nassau County International Cricket Stadium
4  Fazalhaq Farooqi                           Providence Stadium

          umpire1        umpire2  umpire3
0     AY Dandekar       NJ Llong      NaN
1  A Nand Kishore         S Ravi      NaN
2     Nitin Menon      CK Nandan      NaN
3    AK Chaudhary  C Shamshuddin      NaN
4             NaN            NaN      NaN

No pickled final_df file found.

Pipeline loaded successfully.
Match ID 513 not found.

No data to display. Match ID not found or no match progression data available.

In [48]:
# Example usage of the match_progression function
match_id_to_check = 513  # Example match_id
result = match_progression(matches_df, deliveries_df, match_id_to_check)

if result is not None:
    temp_df, result_deliveries = result  # Unpack into temp_df here!
    print("\nMatch Progression Data:")
    print(temp_df.head())

    # Now plotting will work since temp_df is defined
    # (Insert your plotting code here)
else:
    print("\nNo data to display. Match ID not found or no match progression data available.")

Match ID 513 not found.

No data to display. Match ID not found or no match progression data available.

In [49]:

delivery_df['city'].unique()

array(['Dallas', 'Providence', 'Bridgetown', 'New York', 'North Sound',
       'Tarouba', 'Kingstown', 'Gros Islet', 'Lauderhill'], dtype=object)

In [50]:
teams

['Canada',
 'Papua New Guinea',
 'Oman',
 'Sri Lanka',
 'Afghanistan',
 'Scotland',
 'Nepal',
 'Ireland',
 'Australia',
 'Pakistan',
 'Namibia',
 'Netherlands',
 'West Indies',
 'India',
 'South Africa',
 'United States of America',
 'Bangladesh',
 'England']

In [51]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))

In [52]:
X_train

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr
443,South Africa,Sri Lanka,New York,17,40,6,77,4.575000,2.550000
846,Uganda,Papua New Guinea,Providence,10,34,4,77,4.744186,1.764706
731,India,Ireland,New York,23,66,9,96,8.222222,2.090909
1578,Bangladesh,Sri Lanka,Dallas,13,22,4,124,6.857143,3.545455
5132,England,India,Providence,86,36,2,171,6.142857,14.333333
...,...,...,...,...,...,...,...,...,...
1354,Ireland,Canada,New York,31,20,4,137,6.420000,9.300000
5199,South Africa,India,Bridgetown,106,69,7,176,8.352941,9.217391
2139,Bangladesh,South Africa,New York,90,98,9,113,6.545455,5.510204
1191,Scotland,Namibia,Bridgetown,87,64,7,155,7.392857,8.156250
271,Namibia,Oman,Bridgetown,78,88,9,109,6.000000,5.318182